body {
    text-align: center;
    font-family: 'Arial';
}

body h1 {
    color: purple;
    margin: 0;
}

.titulo{
    background-color: rgb(255, 144, 181);
    padding: 20px;
}

.div_contenedor {
    border: 1px solid gray;
    padding: 20px;
}