body {
    text-align: center;
    font-family: 'Arial';
}

body h1 {
    color: rgb(154, 153, 190);
    margin: 0;
}

.titulo{
    background-color: rgb(39, 33, 35);
    padding: 20px;
}

.titulo img{
    border-radius: 20px;
}

.div_contenedor {
    border: 1px solid gray;
    padding: 20px;
}

.footer{
    border: 1px solid red;
    background-color: powderblue;
    display: flex;
    justify-content: space-around;
}